
@import "base/fonts.scss";
@import "base/colors.scss";



.icons {
  width: 31px;
	height: 31px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}



.auto-enter {
   opacity: 0.01;
   transform: translateY(500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(500%);
   transition: opacity 500ms, transform 500ms;
 }

.img-login-nav {
  width: 130px;
	height: 50px;
  padding-left: 10px;
  padding-right: 20px;
  cursor: pointer;

}

.img-logo-nav {
  width: 45px;
	height: 45px;
  padding-right: 20px;
  border-right: 1px solid grey;
  cursor: pointer;
}

.logo-container {
  display: flex;
  width: 345px;
  height: 35px;
  margin-top: 15px;
}

.profile-div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $grey;
  border-radius: 3px;
  color: $light-grey;
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: lighter;
  border: 1px solid #dbdbdb;
  width: 220px;
  height: 28px;
  flex-shrink: 0;
  margin-top: 50px;
  margin-left: 8px;
}

.icon-cont-wrapper {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 375px;
	height: 41px;
  margin-top: 25px;
}

.p-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  // margin-bottom: 15px;
  width: 31px;
  height: 31px;
  padding-left: 15px;
  padding-right: 15px;
}

.p-icon-text {
  color: white;
  margin-top: 10px;
}

.post-count-header {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  background-color: black;
  padding-bottom: 13px;
  justify-content: flex-start;

}

.icon-container {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: flex-start;
  width: 200px;
	height: 24px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
	height: 75px;
  border: 1px solid $grey;
  padding-bottom: 60px;
}

.p-nav {
  margin-left: 10px;
  width: 187px;
  height: 26px;
  flex-shrink: 0;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  height: 130px;
  margin-top: 30px;
}

.auto-fill {
  width: 222px;
  margin-left: 9px;
  display: block;
  height: 50px;
}

.auto-ul {
  overflow-y: scroll;
  background: $grey;
  border-radius: 3px;
  color: $light-grey;
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: lighter;

  width: 100%;
}

.follow-modal-close {
  position: relative;
}

#root {
  width: 100%;
}

#app {
  width: 100%;
}

#header-id {
  width: 100%;
}
