
@import "base/fonts.scss";
@import "base/colors.scss";

.icons {
  width: 23px;
	height: 23px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.img-login-nav {
  width: 120px;
	height: 40px;
  padding-left: 10px;
  padding-right: 20px;
  cursor: pointer;
}

.img-logo-nav {
  width: 35px;
	height: 35px;
  padding-right: 20px;
  border-right: 1px solid grey;
  cursor: pointer;
}

.logo-container {
  display: flex;
  width: 345px;
  height: 35px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $grey;
  border-radius: 3px;
  color: $light-grey;
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: lighter;
  border: 1px solid #dbdbdb;
  width: 210px;
  height: 26px;
}

.icon-cont-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 357px;
	height: 31px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: flex-start;
  width: 156px;
	height: 24px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
	height: 75px;
  border: 1px solid $grey;
}

.p-nav {
  margin-left: 10px;
}

#root {
  width: 100%;
}

#app {
  width: 100%;
}

#header-id {
  width: 100%;
}
