@import "base/fonts.scss";
@import "base/colors.scss";


.input-post {
  display: flex;

  flex-direction: row;
  justify-content: center;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 7px;
  padding-left: 8px;
  -webkit-appearance: none;
  font-size: 14px;
  box-shadow: none;
  border-radius: 5px;
  width: 267px;
  height: 37px;
  margin-top: 2px;
  margin-bottom: 6px;
}

.button-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $light-blue;
	border-color: $light-blue;
	color: white;
  -webkit-appearance: none;
	border-radius: 1px solid #dbdbdb;
  box-shadow:none;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	font-size: 14px;
	text-align: center;
  border-radius: 5px;
  width: 267px;
  height: 31px;
  margin-top: 8px;
  margin-bottom: 0px;
  cursor: pointer;
}

.feed-div-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1000px;
}

.post-div {
  display: block;
  width: 293px;
  height: 293px;
  margin: 20px;
  // background-color: white;
  // border: 1px solid $grey;
}

.post-img {
  width: 293px;
  height: 293px;
}
