@import "base/fonts.scss";
@import "base/colors.scss";


.profile-pic {
  width: 150px;
  height: 150px;
}

.bio-nav {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

.profile-pic-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-right: 80px;
  margin-left: 20px;
  height: 152px;
}

.profile-header-h1 {
  display: flex;
  align-items: center;
  margin-right: 30px;
  height: 40px;
  font-family: "Avenir Next";
  font-size: 36px;

}

.profile-header-h2 {
  // width: 100%;
  // height: 19px;

  font-family: $sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding-right: 10px;
  border-right: 1px solid grey;

}

.bio-p {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 100%;
  font-size: 13px;
  // length: 200px;
}

.post-followers2 {
  display: flex;
  align-items: center;
  margin-right: 40px;
  // margin-left: 5px;
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: normal;
  // cursor: pointer;
}

.post-followers {
  display: flex;
  align-items: center;
  margin-right: 40px;
  // margin-left: 5px;
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

.profile-stats {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  // width: 613px;
  height: 17px;

}

.profile-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  font-family: $sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: $light-grey;
  margin-right: 10px;
  width: 101px;
  height: 31px;
}

.follow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  font-family: $sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: $light-grey;
  margin-right: 10px;
  width: 101px;
  height: 31px;
}

.stat-top-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  width: 494px;
  height: 40px;
}

.profile-stat-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-around;
  // width: 494px;
  height: 152px;
}

.profile-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 756px;
  height: 152px;
  margin-top: 60px;
  margin-bottom: 40px;
}
