@import "base/fonts.scss";
@import "base/colors.scss";

.profile-pic {
  width: 150px;
  height: 150px;
}

.profile-pic-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 291px;
  height: 152px;
}

.profile-header-h1 {
  width: 270px;
  height: 40px;
}

.profile-header-h2 {
  width: 102px;
  height: 19px;
}

.profile-stats {
  display: flex;
  flex-flow: row;
  width: 613px;
  height: 17px;

}

.profile-edit {
  width: 101px;
  height: 31px;
}

.stat-top-container {
  display: flex;
  flex-flow: row;
  width: 494px;
  height: 40px;
}

.profile-stat-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 494px;
  height: 152px;
}

.profile-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 756px;
  height: 152px;
  margin-top: 60px;
  margin-bottom: 40px;
}
